@charset "utf-8"
// 混合
=w-h($width,$height)
    width: $width
    height: $height
=contenttitle
    display: flex
    position: absolute
    z-index: 3
    width: 100%
=m-p($margin,$padding)
    margin: $margin
    padding: $padding
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
=title-icon($title-iconID,$titleID)
    title-icon#{$title-iconID}:hover
        title-icon__title#{$titleID}
            visibility: inherit

#content
    position: absolute
    overflow: hidden
    +w-h(100%,100%)
    // 背景图轮播部分
    #bgimg-list
        z-index: 1
        object-fit: contain
        img
            position: absolute
            top: 0
            z-index: 1
            width: 100%
        img.js-imgDisplay
            position: absolute
            z-index: 2
            filter: alpha(Opacity=100)
            opacity: 1
// 内容文字部分
contenttitle
    +contenttitle
    top: 0
    .contenttitle__box
        flex: 3.0
        img
            position: relative
            animation: mymove 5s
            // 重复次数
            animation-iteration-count: 1.5s
            /* Safari and Chrome */
            -webkit-animation: mymove 1.5s
            animation-iteration-count: 1
            +keyframes(mymove)
                0%
                    left: -370px
                // 20%
                //     left: 200px
                // 40%
                //     left: -100px
                // 60%
                //     left: 100px
                // 80%
                //     left: 5px
                100%
                    left: 0
            +w-h(55.21%,63%)
            margin:
                top: 15%
                left: 32.12%
    .contenttitle__flex
        flex: 2.0
icon
    +contenttitle
    top: 58%
    width: 70%
    color: #FFF
    .icon__box
        flex: 3
        // 虚拟出来的标签——包住4个i标签，控制样式一直保持跟上面的文字图片相同
        box
            display: flex
            width: 44%
            margin-left: 42.12%
            title-icon
                flex: 1
                margin-bottom: 1%
                // 文字盒子
                title-icon__title
                    display: block
                    padding:
                        left: 1%
                        right: 1%
                    margin:
                        bottom: .5rem
                    background-color: rgba(255,255,255,0.32)
                    text-align: center
                    border-radius: 2px
                    // 默认设置隐藏
                    visibility: hidden
                    p
                        display: inline-block
                        margin: .3em .1em
                        color: #FFF
                        cursor: pointer
                        font:
                            family: Microsoft Yahei
                            size: 1em
                // 添加显示类
                title-icon__title.display
                    visibility: inherit
                // 图标部分
                i__box
                    display: flex
                    justify-content: center
                    i
                        font-size: 2rem !important
                        text-align: center
                        cursor: pointer
                        color: #FFF
                        &:hover
                            color: rgba(255,255,255,0.4)
            // 添加鼠标经过事件
            // qq
            title-icon#qq:hover
                title-icon__title#qqId
                    visibility: inherit
            // weixin
            title-icon#weixin:hover
                title-icon__title#weixinId
                    visibility: inherit
            // phone
            title-icon#phone:hover
                title-icon__title#phoneId
                    visibility: inherit
            // at
            title-icon#at:hover
                title-icon__title#atId
                    visibility: inherit
    .icon__flex
        flex: 2
logo
    +contenttitle
    bottom: 0
    .logo__flex
        flex: 4.15
    logo-box
        flex: 1.7
        img
            width: 100%
            object-fit: contain
            margin:
                bottom: 29.85%
